@page
@using DNCCorporate.Public.Web.Framework;
@using Microsoft.Extensions.DependencyInjection;

@addTagHelper *, DNCCorporate.Public.Web
@addTagHelper *, DNCCorporate.Public.Web.Framework
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject DNCCorporate.Public.Web.Framework.TextResourceCultureLocalizer L;

@model DNCCorporate.Public.Web.Pages.ContactUsModel
@{
    Layout = "_Layout";
    ViewData["Title"] = L.Get("contact-us.head-title");
}

<vc:page-title page-name="@L.Get("contact-us.page-title")" />
<div class="container">
    <div class="row py-4">
        <div class="col-lg-6">
            <div class="overflow-hidden mb-1">
                <h2 class="font-weight-normal text-7 mt-2 mb-0 appear-animation"
                    data-appear-animation="maskUp"
                    data-appear-animation-delay="200"
                    dnc-tr="contact-us.form.title">
                </h2>
            </div>
            <div class="overflow-hidden mb-4 pb-3">
                <p class="mb-0 appear-animation"
                   data-appear-animation="maskUp"
                   data-appear-animation-delay="400"
                   dnc-tr="contact-us.form.description">
                </p>
            </div>

            <form class="contact-form"
                  method="post"
                  data-ajax="true"
                  data-ajax-method="post"
                  data-ajax-loading="#contact-form-spinner"
                  data-ajax-begin="began"
                  data-ajax-complete="completed"
                  data-ajax-success="succeed"
                  data-ajax-failure="failed"
                  novalidate>

                <div class="contact-form-success alert alert-success mt-4 d-none">
                    @Html.Raw(L.Get("contact-us.form.success-message"))
                </div>
                <div class="contact-form-error alert alert-danger mt-4 d-none">
                    @Html.Raw(L.Get("contact-us.form.success-error"))
                    <span class="mail-error-message text-1 d-block"></span>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <label class="required font-weight-bold text-dark text-2"
                               asp-for="Form.FullName"
                               dnc-tr="contact-us.form.full-name">
                        </label>
                        <input type="text" class="form-control" asp-for="Form.FullName" />
                        <span asp-validation-for="Form.FullName"></span>
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="required font-weight-bold text-dark text-2"
                               asp-for="Form.EmailAddress"
                               dnc-tr="contact-us.form.email-address">
                        </label>
                        <input type="email" class="form-control" asp-for="Form.EmailAddress" />
                        <span asp-validation-for="Form.EmailAddress"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="font-weight-bold text-dark text-2"
                               asp-for="Form.Subject"
                               dnc-tr="contact-us.form.subject">
                        </label>
                        <input type="text" class="form-control" asp-for="Form.Subject" />
                        <span asp-validation-for="Form.Subject"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="required font-weight-bold text-dark text-2"
                               asp-for="Form.Message"
                               dnc-tr="contact-us.form.message">
                        </label>
                        <textarea rows="8" class="form-control" asp-for="Form.Message"></textarea>
                        <span asp-validation-for="Form.Message"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <input type="submit" value="@L.Get("contact-us.form.send-btn")" class="btn btn-primary btn-modern">
                        <div id="contact-form-spinner" class="tp-loader spinner5" style="display:none"></div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-6">

            <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="800">
                <h4 class="mt-2 mb-1" dnc-tr="contact-us.office.title"></h4>
                <ul class="list list-icons list-icons-style-2 mt-2">
                    <li>
                        <i class="fas fa-map-marker-alt top-6"></i>
                        @Html.Raw(L.Get("contact-us.office.address"))                        
                    </li>
                    <li>
                        <i class="fas fa-phone top-6"></i>
                        @Html.Raw(L.Get("contact-us.office.phone"))
                    </li>
                    <li>
                        <i class="fas fa-envelope top-6"></i>
                        @Html.Raw(L.Get("contact-us.office.email"))
                    </li>
                </ul>
            </div>

            <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="950">
                <h4 class="pt-5" dnc-tr="contact-us.business-hours.title"></h4>
                <ul class="list list-icons list-dark mt-2">
                    <li>
                        <i class="far fa-clock top-6"></i>
                        @Html.Raw(L.Get("contact-us.business-hours.line1"))
                    </li>
                    <li>
                        <i class="far fa-clock top-6"></i>
                        @Html.Raw(L.Get("contact-us.business-hours.line2"))
                    </li>
                </ul>
            </div>

            <h4 class="pt-5" dnc-tr="contact-us.in-touch.title"></h4>
            <p class="lead mb-0 text-4" dnc-tr="contact-us.in-touch.content"></p>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");        
    }
    <script src="@Html.ThemeContentPath()js/custom-contact-us-form.js"></script>
}                   